<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info of <%=city%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<!-- <body>
    <h1>The information of the city <%=city%> is</h1>
    <h2>The temperature is <%=temp1%> </h2>
    <h2>Minimum expected tempertature is <%=mi%></h2>
    <h2>Maximum expected tempertature is <%=ma%></h2>
</body> -->
<div class="jumbotron">
    <h1 class="display-4">The information of the city <%=city%> is</h1>
    <p class="lead">The temperature is <%=temp1%> </p>
    <p class="lead">Having <%=wea %></p>
    <p class="lead">Minimum expected tempertature is <%=mi%> </p>
    <p class="lead">Maximum expected tempertature is <%=ma%> </p>
    <a href="/">Go back</a>
  </div>
</html>
